appdirs==1.4.3
appium-python-client==0.17
APScheduler==3.3.1
beautifulsoup4==4.5.1
bs4==0.0.1
certifi==2017.4.17
cffi==1.9.1
chardet==2.3.0
ChinaWeather==0.1.0
click==6.7
colorama==0.3.3
configparser==3.5.0
cryptography==1.7.1
cx-Freeze==4.3.4
cycler==0.10.0
Django==1.11.23
django-ipware==1.1.6
enum34==1.0.4
et-xmlfile==1.0.1
Faker==0.7.7
Flask==0.12.1
future==0.15.2
html5lib==0.999999999
idna==2.2
itsdangerous==0.24
jdcal==1.2
Jinja2==2.9.6
lxml==3.6.4
MarkupSafe==1.0
matplotlib==1.5.3
nudepy==0.4
numpy==1.11.2
olefile==0.44
openpyxl==2.4.0a1
packaging==16.8
pandas==0.19.1
paramiko==2.1.1
pefile==2016.3.28
Pillow==4.1.1
psutil==5.0.1
pyasn1==0.1.9
pycparser==2.17
pycurl==7.43.0
pyftpdlib==1.5.1
pygame==1.9.2b1
PyInstaller==3.2
PyMySQL==0.7.9
pyparsing==2.2.0
pypiwin32==219
pytesseract==0.1.6
python-dateutil==2.5.3
python-Levenshtein==0.12.0
pytz==2017.2
qqbot==2.2.8
qrcode==5.1
reportlab==3.3.0
requests==2.13.0
selenium==2.53.6
six==1.10.0
SQLAlchemy==1.1.1
tqdm==4.8.4
tzlocal==1.4
virtualenv==15.0.3
webencodings==0.5
Werkzeug==0.12.1
wxPython-Phoenix==3.0.3.dev2553+47f1fd2
xlrd==1.0.0
xlwt==1.1.2
